services:
  - type: web
    name: shopery-backend
    env: node
    plan: free
    region: oregon

    buildCommand: |
      corepack enable
      corepack prepare pnpm@latest --activate
      pnpm install --frozen-lockfile
      pnpm run db:generate
      pnpm run build
      pnpm run db:push
      pnpm run db:seed

    startCommand: pnpm run start

    envVars:
      - key: DATABASE_URL
        sync: false

      - key: CLOUDINARY_CLOUD_NAME
        sync: false

      - key: CLOUDINARY_API_KEY
        sync: false

      - key: CLOUDINARY_API_SECRET
        sync: false

      - key: CLOUDINARY_BASE_FOLDER
        sync: false

      - key: BREVO_API_KEY
        sync: false

      - key: SMTP_FROM
        sync: false

      - key: ACCESS_TOKEN_SECRET
        sync: false

      - key: REFRESH_TOKEN_SECRET
        sync: false

      - key: GUEST_CART_TOKEN
        sync: false

      - key: NODE_ENV
        value: production

      - key: PORT
        value: 10000

      - key: BCRYPT_SALT_ROUNDS
        value: "20"
